@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(./background_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

#Forgot_psw {
    display: flex;
    justify-self: center;
    margin: 30px;
    font-size: 40px;
}

.forgot_form {
    width: 600px;
    height: 600px;
    background-color: rgba(193, 196, 195, 50%);
    border: 1px solid #f1f1f1;
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    left: 1150px;
    top: 150px;
    border-radius: 30px;

}

.container img {
    display: flex;
    justify-self: center;
    margin-bottom: 30px;
    width: 64px;
    height: auto;
}

.container p {
    display: flex;
    justify-self: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.container i {
    color: #121212;
    position: absolute;
    top: 8%;
}

.email {
    width: 500px;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;


}

.email input {
    background-color: transparent;
    border: 2px solid #121212;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 16px;
}

.email .icon {
    border-radius: 50%;
    height: 110%;
    aspect-ratio: 1;
    position: absolute;
    right: -5%;
    top: 35%;
}

.Recall_pass {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.Recall_pass input {
    position: relative;
    top: 50%;
}

.Recall_pass a {
    position: relative;
    left: 50%;
    color: #121212;
    text-decoration: none;

}

.Send_btn button {
    display: flex;
    position: relative;
    justify-self: center;
    justify-content: center;
    background-color: #898989;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 0;
    cursor: pointer;
    width: 50%;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
}