@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
}

/* phần dashboard */
.left-Container {
    display: flex;
    position: relative;
    width: 15%;
    background-color: #1279C3;
    flex-direction: column;
}

.logo {
    display: flex;
    padding-bottom: 150px;
}


.logo-icon {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo-icon .name {
    display: block;
    width: 50px;
    height: 70px;
}

.logo-icon p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.navcontainer {
    position: relative;
    width: 100%;
    height: 76.9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-options {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 50%;
    align-items: center;
    color: #fff;
    justify-content: center;

}

.nav-options li {
    display: flex;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    align-items: center;
    opacity: 0.3;
}

.nav-options a {
    text-decoration: none;
    color: inherit;
}

.nav-options :hover,
.nav-options li:active {
    background-color: rgba(18, 18, 18, 0.1);
    opacity: 1;
    cursor: pointer;
}

.nav-options li img {
    width: 24px;
    height: 24px;
    display: flex;
    margin: 0 10%;

}

/* phần nội dung page */
.right-Container {
    display: flex;
    position: relative;
    width: 85%;
    flex-direction: column;

}

.header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.search-container {
    display: flex;
    position: relative;
    width: 50%;
    height: 40%;
    margin-top: 3%;
    margin-left: 5%;

}

.search-container input[type="text"] {
    flex: 1;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    background-color: rgba(18, 121, 195, 0.1);

}

.search-container button {
    background-color: rgba(18, 121, 195, 0.1);
    color: gray;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.space-search {
    width: 57.5%;
    float: left;
    height: 3%;

}

.avt-notice {
    margin-top: 2%;
    width: 20%;
    clear: both;
    height: 3%;


}

.avt-content {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.avt-content button {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    overflow: hidden;
    border: none;
    margin-right: 5px;

}

.avt-content button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avt-content p {
    display: flex;
    margin-right: 20px;
}

.avt-content img {
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 12%;
}

.Dashboard-title {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
}

.Dashboard-title p {
    font-size: 24px;
    font-weight: semi-bold;
    margin-left: 5%;
    color: #1279C3;

}

.container {
    display: flex;
    flex-direction: row;
}

.input-container {
    width: 35%;
    margin-left: 10%;
}

.input-container label {
    margin-left: 3%;
    color: rgba(18, 18, 18, 0.5);
}

.input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid #121212;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: transparent;

    margin-bottom: 3%;
}

.input-container .phone-birthday-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-container .phone-birthday-input .phone-input,
.input-container .phone-birthday-input .birthday-input {
    display: flex;
    flex-direction: column;

}

.image-container {
    display: block;
    width: 50%;
    height: 10%;
    justify-content: center;

}


.image-container .edit-avatar {
    background-color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: absolute;
    cursor: pointer;
}

.image-container .edit-avatar img {
    width: 20px;
    height: 20px;
}

.avatar-container {
    display: block;
    width: 316px;
    height: 316px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    left: 20%;
}

.avatar {
    width: 316px;
    height: 316px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.avatar img {
    width: 100%;
    height: 100%;
}

.edit-avatar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.image-container .space {
    display: block;
    height: 150px;
    position: relative;
}

.edit-btn {
    display: block;
    margin-left: 50px;
}

.edit-btn button {
    margin-right: 30px;
    color: #1279C3;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #FBFCFE;
    border: 1px solid#DDE4F0;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    border-radius: 4px;
}