@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
}

/* phần dashboard */
.left-Container {
    display: flex;
    position: relative;
    width: 15%;
    background-color: #1279C3;
    flex-direction: column;
}

.logo {
    display: flex;
    padding-bottom: 150px;
}


.logo-icon {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo-icon .name {
    display: block;
    width: 50px;
    height: 70px;
}

.logo-icon p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.navcontainer {
    position: relative;
    width: 100%;
    height: 76.9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-options {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 50%;
    align-items: center;
    color: #fff;
    justify-content: center;

}

.nav-options li {
    display: flex;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    align-items: center;
    opacity: 0.3;
}

.nav-options .option1 {
    background-color: rgba(18, 18, 18, 0.1);
    opacity: 1;
}

.nav-options a {
    text-decoration: none;
    color: inherit;
}

.nav-options :hover,
.nav-options li:active {
    background-color: rgba(18, 18, 18, 0.1);
    opacity: 1;
    cursor: pointer;
}

.nav-options li img {
    width: 24px;
    height: 24px;
    display: flex;
    margin: 0 10%;

}

/* phần nội dung page */
.right-Container {
    display: flex;
    position: relative;
    width: 85%;
    flex-direction: column;

}

.header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.search-container {
    display: flex;
    position: relative;
    width: 50%;
    height: 30%;
    margin-top: 3%;
    margin-left: 5%;

}

.search-container input[type="text"] {
    flex: 1;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    background-color: rgba(18, 121, 195, 0.1);

}

.search-container button {
    background-color: rgba(18, 121, 195, 0.1);
    color: gray;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.space-search {
    width: 50%;
    float: left;
    height: 3%;

}

.space-title {
    width: 30%;
    float: left;
    height: 3%;

}

.avt-notice {
    margin-top: 2%;
    width: 20%;
    clear: both;
    height: 3%;


}

.avt-content {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.avt-content button {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    overflow: hidden;
    border: none;
    margin-right: 5px;
}

.avt-content button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avt-content p {
    display: flex;
    margin-right: 20px;
}

.avt-content img {
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 12%;
}

.Dashboard-title {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
}

.Dashboard-title p {
    font-size: 24px;
    font-weight: semi-bold;
    margin-left: 5%;
    color: #1279C3;

}

.Dashboard-title img {
    height: 10%;
    margin-left: 2%;
    margin-right: 2%;
}


.Dashboard-title .Date {
    width: fit-content;
    padding: 15px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background: white;
    margin-top: 80px;
    margin-left: 30px;
}

.date-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}

.date-picker-label {
    min-width: 50px;
}

.date-picker-input {
    padding: 5px;

    border: black solid 1px;
    border-radius: 10px;
}

.Dashboard-title button {
    margin-left: 40%;
    color: #1279C3;
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #FBFCFE;
    border: 1px solid#DDE4F0;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    border-radius: 4px;

}

.Dashboard-title .export {
    margin-left: 40%;
    color: #1279C3;
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #FBFCFE;
    border: 1px solid#DDE4F0;
    height: 35px;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    font-weight: 500;
}

.Dashboard-title .export img {
    width: 20px;
    height: 20px;
    margin-right: 5%;
}


.Dashboard-title .inner {
    margin-left: 1%;
    color: #1279C3;
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: #FBFCFE;
    border: 1px solid#DDE4F0;
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    border-radius: 4px;
}

.info {
    display: flex;
    flex-direction: row;
}

.info .cost {
    width: 20%;
}

.info .revenue {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 5%;
}

.info #r {
    font-size: 20px;
    margin-bottom: 1%;
}

.info #total {
    font-size: 24px;
    font-weight: 500;
}

.info .fluctuation {
    display: flex;
    flex-direction: row;
}

.info .fluctuation i {
    display: flex;
    color: #149D52;
}

.info.fluctuation p {
    display: flex;
    letter-spacing: 1px;
    opacity: 50%;
}

.info .fluctuation #percent {
    color: #149D52 !important;
    opacity: 1 !important;
}

.info #date {
    opacity: 50%;
    margin-top: 0.5%;
}

.Linegraph {
    display: flex;
    width: 80%;
    height: 300px;
    margin: 20px auto;
}


.Product {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.Product th {
    width: 25%;
    padding: 8px;
    height: 65px;
    background-color: #1279C3;
    color: white;
    font-weight: 500;
}

.Product #ID {
    width: 10% !important;
    height: 20%;
    text-align: left;
    padding-left: 2%;
    border-radius: 10px 0 0 0;
}

.Product #action {
    border-radius: 0 10px 0 0;
}

.Product tr {
    height: 20%;
}

.Product td {

    padding: 8px;
    text-align: center;
    height: 100px;
    color: #7D8398;
}

.Product #ID-content {
    width: 10% !important;
    height: 20%;
    text-align: left;
    padding-left: 2%;
    border-radius: 10px 0 0 0;
    color: black;
    font-weight: 500;
}

.Product tbody #action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.Product img {
    width: 16px;
    height: 16px;
}

.Product button {
    background-color: #4CAF50;
    position: relative;
    width: 40%;
    justify-content: center;
    padding-left: 10%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}

.Product .Edit {
    background-color: #FBFCFE;
    border: 1px solid#DDE4F0;
    border-radius: 5.5px;
    color: #1279C3;
}

.Product .Delete {
    background-color: #FFF9F8;
    border: 1px solid#FACDC3;
    border-radius: 5.5px;
    color: #EB2F06;
}

tr:nth-child(odd) {
    background-color: #ffffff;
    /* Màu nền cho dòng lẻ */
}

tr:nth-child(even) {
    background-color: rgba(18, 121, 195, 0.1);
    /* Màu nền cho dòng chẵn */
}